<html>
  <head>
    <title>Speed Racer!</title>
    <link href='public/css/racing.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="public/js/mousetrap.js"></script>
    <script src="public/js/track.js"></script>
    <script src="public/js/pikachu.js"></script>
    <script src="public/js/lugia.js"></script>
    <script src="public/js/game.js"></script>
  </head>

  <body>
    <div class="index-bg">
      <h1 id="victory"></h1>
      <div id="track"></div>
    </div>
  </body>
</html>
